<h1>ClientsidePublishings#index</h1>

<% if @client_settings.nil? %>
 <h2>Looks like you're not saving clientside</h2>
 <%= link_to "LET'S CHANGE THAT, EH?!", new_profile_client_publish_path %>
<% else %>
  <strong>Current testing method:</strong> <%= @client_settings.method %>
  <pre>TODO:  
    1. create local json file with content on it
    2. place button here "test remote saving"
    3.  a. add logic to connect to service using credentials
        b. saving file to service
    4. rinse and repeat this process for all services, make sure each works
  </pre>
<% end %>
